.header{
  height: 200px;
  @include flexDisplay($direction : column);
  letter-spacing: 2px;
  
  background:
  linear-gradient(to bottom, rgba(172, 170, 170, 0.873) 20%, lighten(rgba(58, 148, 212, 0.565),30%)),
  url(../image/petanque-header.jpg) 40% 57% / cover;
  box-shadow: 0 5px 10px lighten(rgba(58, 148, 212, 0.565),30%);
}
.headerLogo{
  margin-bottom: 20px;
  @extend %logo;
}
.headerLogoLink:hover {
  text-decoration: none;
}
.headerNav--button{
  padding-bottom: 5px;
  text-transform: capitalize;

  &:hover {
    text-decoration: none;
    color: $red;
  }
}

@include minBreakPoint(400px) {
  .header{
    font-size: 1.3rem;
  }
}

@include minBreakPoint(500px) {
  .headerNav--button{
    padding-right: 15px;
  }
}