
.training {
  :nth-child(4){
    max-width: 450px;
    border: solid 1px $darkenBlue;
    padding: 5px;
    font-weight: 500;
    li {
      margin-bottom: 5px;
    }
  }
  :nth-child(5){
    @extend %note;
  }
}

.imgContainer {
  width: 90%;
  max-width: 400px;
  margin: auto;
  img {
    width: 100%;
    margin-bottom: 0;
  }
}

@include minBreakPoint(770px) {
  .containerIndex {
    display: grid;
    gap: 10px 20px;
    grid-template-rows: 250px 1fr 250px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'training club'
    'caravan field'
    'caravan field ';
  }
  .training{
    grid-area: training;
    max-width: 500px;
  }
  .field{
    grid-area: field;
    max-width: 600px;
    margin: auto;
  }
  .caravan{
    grid-area: caravan;
    max-width: 400px;
  }
  .club{
    grid-area: club;
    max-width: 500px;
    margin: auto;
  }
  .imgContainer {
    width: 100%;
    max-width: none;
  }
}