.headerLogo {
  border: solid 1px black;
  border-radius: 50%;
  padding: 30px;
  color: #2779b4;
  font-weight: 700;
  font-family: Amatic SC, sans-serif;
  font-size: 1.9rem;
}

h2 {
  color: #2779b4;
  font-weight: 700;
  font-family: Amatic SC, sans-serif;
  font-size: 1.7rem;
}

h3 {
  color: #2779b4;
  text-align: center;
  font-weight: 700;
  font-family: Amatic SC, sans-serif;
  font-size: 1.3rem;
}

.training :nth-child(5) {
  font-size: 0.9rem;
  font-style: italic;
  color: #8ec1e6;
}

.date {
  display: block;
  color: #8ec1e6;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: rgba(184, 216, 239, 0.373);
}

a {
  color: #2779b4;
  font-style: italic;
  -webkit-transition: all .3s;
  transition: all .3s;
}

a:hover {
  text-decoration: underline;
}

article {
  max-width: 645px;
  margin: auto;
  margin-bottom: 15px;
}

article * {
  margin-bottom: 10px;
}

article p {
  text-align: justify;
}

.container {
  padding: 10px 5px;
}

.header {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(255, 255, 255, 0.873)), to(rgba(184, 216, 239, 0.565))), url(../image/petanque-header.jpg) 40% 57%/cover;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.873) 20%, rgba(184, 216, 239, 0.565)), url(../image/petanque-header.jpg) 40% 57%/cover;
  -webkit-box-shadow: 0 5px 10px rgba(184, 216, 239, 0.565);
          box-shadow: 0 5px 10px rgba(184, 216, 239, 0.565);
}

.headerLogo {
  margin-bottom: 20px;
}

.headerLogoLink:hover {
  text-decoration: none;
}

.headerNav--button {
  padding-bottom: 5px;
  text-transform: capitalize;
}

@media only screen and (min-width: 400px) {
  .header {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 500px) {
  .headerNav--button {
    padding-right: 15px;
  }
}

.training :nth-child(4) {
  max-width: 450px;
  border: solid 1px #2779b4;
  padding: 5px;
  font-weight: 500;
}

.training :nth-child(4) li {
  margin-bottom: 5px;
}

.imgContainer {
  width: 90%;
  max-width: 400px;
  margin: auto;
}

.imgContainer img {
  width: 100%;
  margin-bottom: 0;
}

@media only screen and (min-width: 770px) {
  .containerIndex {
    display: -ms-grid;
    display: grid;
    gap: 10px 20px;
    -ms-grid-rows: 250px 1fr 250px;
        grid-template-rows: 250px 1fr 250px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'training club' 'caravan field' 'caravan field ';
  }
  .training {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: training;
    max-width: 500px;
  }
  .field {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: field;
    max-width: 600px;
    margin: auto;
  }
  .caravan {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: caravan;
    max-width: 400px;
  }
  .club {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: club;
    max-width: 500px;
    margin: auto;
  }
  .imgContainer {
    width: 100%;
    max-width: none;
  }
}

.contactInfo b {
  color: #2779b4;
}

.blocContact {
  max-width: 500px;
  width: 100%;
}

.blocContact * {
  width: 100%;
}

iframe {
  width: 100%;
}

@media only screen and (min-width: 770px) {
  .containerContact {
    display: -ms-grid;
    display: grid;
    gap: 10px 5px;
    -ms-grid-rows: 250px 1fr 150px;
        grid-template-rows: 250px 1fr 150px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'contactInfo contactIntro' 'sendMessage situation' 'sendMessage situation ';
  }
  .contactIntro {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: contactIntro;
    margin: auto;
    font-size: 1.1rem;
  }
  .contactInfo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: contactInfo;
    margin: auto;
  }
  .sendMessage {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: sendMessage;
    margin: auto;
    width: 70%;
  }
  .situation {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: situation;
  }
}

.containerEvent div {
  margin-top: 30px;
}

@media only screen and (min-width: 900px) {
  .containerEvent article {
    max-width: 900px;
  }
  .tournament {
    float: left;
    max-width: 550px;
  }
  .otherDates {
    float: right;
    max-width: 450px;
  }
}
/*# sourceMappingURL=style.css.map */