

html {
  font-size: 16px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: $bgColor;
}

h2 {
  @extend %title2;
}

h3 {
  @extend %title3;
}

a {
  @include link($darkenBlue)
}

article {
  max-width: 645px;
  margin: auto;
  margin-bottom: 15px;
  * {
    margin-bottom: 10px;
  }
  p {
    text-align: justify;
  }
  &:hover {
    transition: all .5s;
    h2 {
      color: $red;
    }
  }
}

.container {
  padding:10px 5px;
}