%logo {
  border: solid 1px rgb(0, 0, 0);
  border-radius: 50%;
  padding: 30px;
  color: $darkenBlue;
  font-weight: 700;
  font-family: Amatic SC, sans-serif;
  font-size: 1.9rem;
}

%title2 {
  color: $darkenBlue;
  font-weight: 700;
  font-family: Amatic SC, sans-serif;
  font-size: 1.7rem;
}

%title3 {
  color: $darkenBlue;
  text-align: center;
  font-weight: 700;
  font-family: Amatic SC, sans-serif;
  font-size: 1.5rem;
}

%note {
  font-size: 0.9rem;
  font-style: italic;
  color: $lightenBlue;
}

%date {
  display: block;
  color: $lightenBlue;
  font-weight: 500;
}